* {
    box-sizing: border-box;
    border: .25px black solid;
}
html {
    border: none;
    font-size: 0;
}
body {
    margin: 0;
    border: none;
}

.gameInfo {
    position: absolute;
    display: inline-block;
    height: 80vh;
    width: 20vw;
    top: 18%;
    left: 5%;

}

.turnInfo {
    position: relative;
    display: inline-block;
    height: 25%;
    width: 100%;

}

.turnTitle {
    position: relative;
    display: inline-block;
    height: 25%;
    width: 100%;
    font-size: 4vh;
}

.turnIcon {
    position: relative;
    display: inline-block;
    height: 75%;
    width: 100%;


}

.turnIconSquare {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 50%;
    background-color: #761c19;

}

.scoreArea {
    position: relative;
    display: inline-block;
    height: 60%;
    width: 100%;
}

.scoreTitle {
    position: relative;
    display: inline-block;
    height: 20%;
    width: 100%;
}

.scoreP1 {
    position: relative;
    display: inline-block;
    height: 40%;
    width: 50%;
}

.scoreP1Count {
    position: relative;
    display: inline-block;
    height: 40%;
    width: 50%;

}

.scoreP2 {
    position: relative;
    display: inline-block;
    height: 40%;
    width: 50%;

}

.scoreP2Count {
    position: relative;
    display: inline-block;
    height: 40%;
    width: 50%;

}

.gameReset {
    position: relative;
    display: inline-block;
    height: 15%;
    width: 100%;
}

.resetButton {
    position: relative;
    display: inline-block;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
}


.header {
    position: absolute;
    display: inline-block;
    height: 15vh;
    width: 100vw;
    font-size: 4vh;
    text-align: center;
}

.gameBoard {

    position: absolute;
    display: inline-block;
    height: 80vh;
    width: 80vh;
    top: 18%;
    left: 30%;
    background-color: #761c19;
}

.square {
    position: relative;
    display: inline-block;
    height: 12%;
    width: 12%;
    top: 2%;
    left: 2%;
}
.white {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: white;

}

.black {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: black;

}

.instructions {
    position: absolute;
    display: inline-block;
    height: 80vh;
    width: 15vw;
    top: 18%;
    display: none;

}