* {
    box-sizing: border-box;
    /*border: black 1px solid;*/
}
.backgroundImage {
    min-height: 100vh;
}

.backgroundImage::before {
    box-sizing: border-box;
    background-size: cover;
    position: fixed;
    background-image: url("images/toaster-cat.png");
    content: "";
    min-height: 100vh;
    width: 100vw;
    display: block;
    opacity: .8;
}

html {
    border: none;
}

body {
    margin: 0;
    border: none;
    font-family:comic sans ms,arial,sans-serif;
    /*width: 100vw*/
}

.game-container {
    padding-top: 15px;
}


/* ////////////////////////////////////////////////////// Header Section //////////////////////////////////////////////////////////// */

.header {
    position: relative;
    display: inline;
    height: 70px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.headerTitleContainer {
    background-color: rgba(147, 112, 219, 0.54);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px hotpink;


}

.headerTitle {
    font-size: 1.7rem;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;

}

/* ////////////////////////////////////////////////////// Game Stats and Info //////////////////////////////////////////////////////////// */


.gameInfo {
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: rgba(147, 112, 219, 0.54);
    box-shadow: 0px 0px 10px 5px hotpink;
}

.turnInfo {
    position: relative;
    display: inline-block;
    height: 32%;
}

.turnTitle {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px purple;

}

.turnIcon {
    position: relative;
    display: inline-block;
    height: 75%;
}

.turnIconSquare1 {
    position: relative;
    display: inline-block;
    height: 100%;
}

.turnIconSquare2 {
    position: relative;
    display: inline-block;
    height: 100%;
}

.scoreArea {
    position: relative;
    display: inline-block;
    height: 100%;
}

.scoreTitle {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
}

.scoreP1, .scoreP2 {
    position: relative;
    display: inline-block;
    height: 45%;
}

.scoreP1Count, .scoreP2Count{
    vertical-align: top;
    position: relative;
    display: inline-block;
    height: 45%;
    text-align: center;
    /*changed font size to vw instead of vh*/
    font-size: 1.5rem;
    text-shadow: 2px 1px rgba(158, 124, 143, 0.76);
}

.player-one-score, .player-two-score {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
}

/* ////////////////////////////////////////////////////// game reset //////////////////////////////////////////////////////////// */

.gameReset {
    border-radius: 10px;
    position: relative;
    display: inline-block;
}

.resetButton, .mute-button {
    outline: none;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    background-color: #c87bef;
    box-shadow: 0px 0px 10px 5px hotpink;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;

}

/* ////////////////////////////////////////////////////// Main Game Board //////////////////////////////////////////////////////////// */

.gameBoard {
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    background-color: rgba(147, 112, 219, 0.54);
    box-shadow: 0px 0px 10px 5px hotpink;

}



.square {
    position: relative;
    display: inline-block;
    height: 12%;
    width: 12%;
    top: 2%;
    left: 2%;
    border: .15px #cfdbfb solid;
    box-shadow:  1px 1px 0px 1px purple;
}

.empty {
    border: none;
}

.white {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: white;
    background-image: url("images/player-1.png");
    background-size: cover;

}

.black {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: black;
    background-image: url("images/player-2.png");
    background-size: cover;

}

/* ////////////////////////////////////////////////////// Instruction and Win Modal //////////////////////////////////////////////////////////// */

.instructionModal, .winModal, .volume-modal{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: fixed;
    display: inline-block;
    text-align: center;
    background-color: #2e6da4;
    box-shadow: 0px 0px 10px 5px hotpink;
    background-color: rgba(147, 112, 219, 0.98);
    padding: 0.5%;
    min-width: 285px;
    z-index: 3;
}

.instrucPara1 {
    font-size: 2rem;
    display: inherit;
    border-bottom: 2mm dotted slateblue;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
}

.instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6, .volume-modal{
    font-size: 1rem;
    display: inherit;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
}

.winModal {
    height: 460px;
}

.winPara1, .winPara2 {
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
    display: inherit;
    font-size: 1.7rem;
    position: relative;
    top: 10%;
}

.winReset {
    position: relative;
    display: inherit;
    font-size: 1.7rem;
    border-radius: 10px;
    top: 10%;
    left: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px 5px hotpink;
    color: #cfdbfb;
    text-shadow: 1px 1px 0px purple;
    background-color: #c87bef
}


.shadowDiv {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}



.hideModals {
    display: none;
}

.winImage {
    position: relative;
    height: 50%;

}

.legalMove {
    background-color: purple;
    box-shadow: 0px 0px 10px 4px hotpink;
}

.animate{
    animation-name: magic;
    background-image: none;
    animation-duration: 0.75s;
}

.animate2{
    background-image: none;
    animation: magic2 750ms infinite linear;
}

@keyframes magic{
    0% {background-color: mediumpurple}
    33% {background-color: hotpink}
    66% {background-color: deepskyblue}
    100% {background-color: mediumpurple}
}

@keyframes magic2{
    0% {background-color: mediumpurple}
    33% {background-color: hotpink}
    66% {background-color: deepskyblue}
    100% {background-color: mediumpurple}
}




/* ////////////////////////////////////////////////////// Audio and Timer //////////////////////////////////////////////////////////// */


.audioControls {
    border-radius: 33%;
    position: absolute;
    display: inline-block;
    top: 3%;
    left: 8%;
    width: 14%;
    overflow: hidden;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);

}

.audio {
    display: inherit;
    width: 115%;
}

.timer {
    display: inline-block;
    padding-top: 10px;
    font-size: 1rem;
    position: relative;
    text-align: center;
    min-width: 105px;
    color:hotpink;
    text-shadow: 1px 1px 0px purple;

}

.audioMute {
    position: absolute;
}

.audioIcon {
    top: 18px;
    left: 2.5%;
    width: 20px;
    position: relative;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 3px hotpink;
}



.legalMove:hover{
    background-color: rgba(255, 111, 219, 0.73);
}

.highlightPlayerTurn{
    box-shadow:0px 0px 15px 10px hotpink;

}


/* ////////////////////////////////////////////////////// Media Queries  //////////////////////////////////////////////////////////// */


@media screen and (min-width: 993px) {
    .headerTitle {
        font-size: 2.5rem;
    }
    .gameInfo {
        max-width: 180px;


    }

    .gameBoard {
        min-height: 520px;
        min-width: 520px;
        max-width: 600px;


    }
    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 90px;


    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 2.3rem;
    }
    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: 1.5rem;
        display: inherit;
    }
    .audioIcon {
        width: 55px;
        top: 5px;
        left: 8.5%;
    }
    .game-container {
        padding-top: 45px;
    }


}


@media screen and (max-width: 992px) {

    .gameInfo {
        max-width: 156px;

    }

    .gameBoard {
        min-height: 500px;
        min-width: 500px;

    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 85px;


    }
    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 2rem;
    }
    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: 1.2rem;
        display: inherit;
    }
    .audioIcon {
        width: 45px;
        top: 11px;
        left: 8.5%;
    }

    .game-container {
        padding-top: 45px;
    }
    .headerTitle {
        font-size: 2.5rem;
    }




}


@media screen and (max-width: 768px) {

    .gameInfo {
        min-height: 180px;
        min-width: 357px;

    }

    .gameBoard {
        min-height: 500px;
        min-width: 500px;


    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1.8rem;
    }

    .gameReset {
        padding-bottom: 25px;
    }
    .timer, .resetButton {
        font-size: 1rem;
        min-height: 28px;
    }
    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: 1rem;
        display: inherit;
    }
    .headerTitle {
        font-size: 1.3rem;
    }





}

@media screen and (max-width: 576px) {

    .gameInfo {
        min-height: 185px;
        max-width: 260px;
        min-width: 260px;
        padding-bottom: 10px;
    }

    .gameBoard {
        min-height: 257px;
        max-width: 315px;
        min-width: 315px

    }
    .timer, .resetButton {
        font-size: 1rem;
        min-height: 35px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1.4rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 58px;


    }


    .instrucPara1 {
        font-size: 1.5rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: .9rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 1.2rem;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 245px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        max-height: 365px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.2rem;
    }
    .audioIcon {
        width: 25px;
        top: 18px;
        left: 2.5%;

    }


}

/* ////////////////////////////////////////////////////// Media Queries For Devices by type //////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////// Media Queries For Ipad //////////////////////////////////////////////////////////// */




/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

    .gameInfo {
        min-height: 270px;
        max-width: 260px;
        min-width: 550px;
        padding-bottom: 10px;
        bottom: 32px;
    }

    .gameBoard {
        min-height: 625px;
        max-width: 650px;
        min-width: 625px;
        bottom: 80px;

    }

    .game-container{
        padding-top: 15px;
    }

    .timer, .resetButton {
        font-size: 1.7rem;
        min-height: 35px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 2rem;
    }

    .scoreArea {
        width: 100%;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 111px;
        max-width: 125px;


    }


    .instrucPara1 {
        font-size: 3rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: 2rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 2.7rem;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 550px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        min-height: 900px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 3rem;
    }

    .audioMute {
        left: 120px;
        top: 103px;
    }

    .audioIcon {
        width: 40px;

    }



}



/* ////////////////////////////////////////////////////// Media Queries Iphone X //////////////////////////////////////////////////////////// */


/* landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .game-container {
        padding-top: 0;
    }


    .gameBoard {
        min-height: 350px;
        max-width: 285px;
        min-width: 350px;
        bottom: 105px;

    }

    .gameInfo {
        max-height: 245px;
        min-height: 185px;
        max-width: 260px;
        min-width: 330px;
        padding-bottom: 10px;
        left: -3px;
    }


    .timer, .resetButton {
        font-size: 1rem;
        min-height: 35px;
        min-width: 120px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 2rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 75px;
        max-width: 75px;


    }


    .instrucPara1 {
        font-size: 2rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: 1rem;
        display: inherit;
    }

    .header {
        right: 154px;
        top: 27px;
    }

    .headerTitle {
        font-size: 2rem;
    }

    .headerTitleContainer {
        min-width: 150px;
        max-width: 330px;
        left: 45%;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
        padding-top: 15px;
    }

    .winModal {
        max-height: 292px;
        min-width: 201px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.0rem;
    }
    .audioIcon {
        width: 40px;

    }
    .audioMute {
        top: 45px;
        left: 65px;
    }




}
/* portrait*/

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .game-container{
        padding-top: 0px;
    }
    .gameInfo {
        min-height: 230px;
        max-width: 325px;
        min-width: 260px;
        padding-bottom: 10px;
        bottom: -70px;
    }

    .gameBoard {
        min-height: 350px;
        max-width: 350px;
        min-width: 350px;
        bottom: -75px ;

    }
    .timer, .resetButton {
        font-size: 1.5rem;
        min-height: 35px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 2rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 75px;
        max-width: 73px;


    }


    .instrucPara1 {
        font-size: 2rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size:1.2rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 2rem;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 245px;
        top: 100%;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        max-height: 365px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.2rem;
    }
    .audioIcon {
        width: 30px;
        top: 75px;
        left: 80px;

    }



}

/* ////////////////////////////////////////////////////// Media Queries For Galaxy S4, S5, Note 3 //////////////////////////////////////////////////////////// */

/* Landscape */
@media screen
and (max-device-width: 640px)
and (max-device-height: 360px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape) {

    .game-container {
        padding-top: 0px;
        max-width: 610px;
    }


    .gameInfo {
        min-height: 282px;
        max-width: 245px;
        min-width: 245px;
        padding-bottom: 0px;
        bottom: 19px;
    }

    .gameBoard {
        min-height: 340px;
        max-width: 340px;
        min-width: 340px;
        bottom: 77px;
    }
    .timer, .resetButton {
        font-size: 1rem;
        min-height: 35px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1.4rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 75px;


    }


    .instrucPara1 {
        font-size: 1.5rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: .9rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 1.2rem;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 245px;
    }

    .header {
        right: 148px;
        top: -3px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        max-height: 330px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.2rem;
    }
    .audioIcon {
        width: 40px;


    }

    .audioMute {
        top: 65px;
        left: 24px;

    }

}

/* Portrait */
@media screen
and (max-device-width: 360px)
and (max-device-height: 640px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {

    .game-container {
        padding-top: 0px;

    }
    .gameInfo {
        min-height: 185px;
        max-width: 286px;
        min-width: 260px;
        padding-bottom: 10px;
    }

    .gameBoard {
        min-height: 315px;
        max-width: 345px;
        min-width: 315px

    }
    .timer, .resetButton {
        font-size: 1rem;
        min-height: 35px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1.4rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 64px;


    }


    .instrucPara1 {
        font-size: 1.5rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: .9rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 1.2rem;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 245px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        max-height: 365px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.2rem;
    }
    .audioIcon {
        width: 30px;
        top: 18px;
        left: 2.5%;

    }

    .audioMute {
        top: 74px;
        left: 42px;
    }

}



/* ////////////////////////////////////////////////////// Media Queries For Iphone 4/4s //////////////////////////////////////////////////////////// */



/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

    .game-container {
        padding-top: 0;
    }


    .gameBoard {
        min-height: 257px;
        max-width: 285px;
        min-width: 285px;
        bottom: 55px;

    }

    .gameInfo {
        top: 17px;
        max-height: 168px;
        min-height: 185px;
        min-width: 150px;
        max-width: 150px;
        padding-bottom: 10px;
    }

    .timer, .resetButton {
        font-size: 1rem;
        min-height: 35px;
        min-width: 120px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 26px;


    }


    .instrucPara1 {
        font-size: .8rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: .7rem;
        display: inherit;
    }

    .header {
        right: 154px;
        top: 27px;
    }

    .headerTitle {
        font-size: 1rem;
    }

    .headerTitleContainer {
        min-width: 150px;
        max-width: 150px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
        padding-top: 15px;
    }

    .winModal {
        max-height: 292px;
        min-width: 201px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.0rem;
    }
    .audioIcon {
        width: 25px;
        top: 18px;
        left: 2.5%;

    }
    .audioMute {
        top: 45px;
        left: 10px;
    }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {


    .game-container {
        padding-top: 0;


    }
    .gameInfo {
        min-height: 1px;
        max-height: 150px;
        max-width: 260px;
        min-width: 260px;
        padding-bottom: 0px;
        bottom: 16px;
    }

    .gameBoard {
        min-height: 257px;
        max-width: 300px;
        min-width: 300px;
        bottom: 43px;

    }
    .timer, .resetButton {
        font-size: 1rem;
        min-height: 29px;
    }

    .scoreTitle, .scoreP1Count, .scoreP2Count {
        font-size: 1.4rem;
    }

    .scoreP1, .scoreP1Count, .scoreP2, .scoreP2Count {
        max-height: 30px;
        max-width: 30px;


    }


    .instrucPara1 {
        font-size: 1.5rem;
        display: inherit;
        border-bottom: 2mm dotted slateblue;
    }

    .instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
        font-size: .9rem;
        display: inherit;
    }

    .headerTitle {
        font-size: 1.2rem;
    }
    .header {
        height: 60px;
    }

    .headerTitleContainer {
        min-width: 245px;
        max-width: 245px;
    }

    .legalMove {
        background-color: purple;
        box-shadow: 0px 0px 10px 3px hotpink;
    }

    .gameReset {
        padding-bottom: 0px;
    }

    .winModal {
        max-height: 365px;
        min-width: 230px;
    }
    .winPara1, .winPara2, .winReset {
        font-size: 1.2rem;
    }
    .audioIcon {
        width: 25px;
        top: 63px;
        left: 34px;

    }




}
