* {
    box-sizing: border-box;
    border: black 1px solid;
}
.backgroundImage {
    min-height: 100vh;
}

.backgroundImage::before {
    box-sizing: border-box;
    background-size: cover;
    position: absolute;
    background-image: url("images/toaster-cat.png");
    content: "";
    min-height: 100vh;
    width: 100vw;
    display: block;
    opacity: .8;
}

html {
    border: none;
}

body {
    margin: 0;
    border: none;
    font-family:comic sans ms,arial,sans-serif;
    width: 100vw
}



/* ////////////////////////////////////////////////////// Header Section //////////////////////////////////////////////////////////// */

.header {
    position: relative;
    display: inline;
    height: 70px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.headerTitle {
    text-shadow: 2px 1px rgba(158, 124, 143, 0.76);
    font-size: 1.7rem;
    padding-top: 11px;
    color: #cfdbfb;
}

/* ////////////////////////////////////////////////////// Game Stats and Info //////////////////////////////////////////////////////////// */


.gameInfo {
    font-size: 0;
    border-radius: 5%;
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: rgba(147, 112, 219, 0.54);
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);
}

@media screen and (min-width: 993px) {
    .gameInfo {

    }

    .gameBoard {
        min-height: 500px


    }


}


@media screen and (max-width: 992px) {

    .gameInfo {

    }

    .gameBoard {


    }

}


@media screen and (max-width: 768px) {

    .gameInfo {
        min-height: 320px;


    }

    .gameBoard {
        min-height: 530px;
        min-width: 530px;


    }

}

@media screen and (max-width: 576px) {

    .gameInfo {
        min-height: 257px;
        max-width: 240px;

    }

    .gameBoard {
        min-height: 257px;
        max-width: 299px;
        min-width: 299px

    }

}

.turnInfo {
    position: relative;
    display: inline-block;
    height: 32%;
}

.turnTitle {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-shadow: 2px 1px rgba(158, 124, 143, 0.76);
}

.turnIcon {
    position: relative;
    display: inline-block;
    height: 75%;
}

.turnIconSquare1 {
    position: relative;
    display: inline-block;
    height: 100%;
}

.turnIconSquare2 {
    position: relative;
    display: inline-block;
    height: 100%;
}

.scoreArea {
    position: relative;
    display: inline-block;
    height: 50%;
}

.scoreTitle {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    text-shadow: 2px 1px rgba(158, 124, 143, 0.76);
}

.scoreP1, .scoreP2 {
    position: relative;
    display: inline-block;
    height: 45%;
}

.scoreP1Count, .scoreP2Count{
    vertical-align: top;
    position: relative;
    display: inline-block;
    height: 45%;
    text-align: center;
    /*changed font size to vw instead of vh*/
    font-size: 1.5rem;
    text-shadow: 2px 1px rgba(158, 124, 143, 0.76);
}

/* ////////////////////////////////////////////////////// game reset //////////////////////////////////////////////////////////// */

.gameReset {
    border-radius: 5%;
    position: relative;
    display: inline-block;
}

.resetButton {
    border-radius: 5%;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);
    background-color: rgba(147, 112, 219, 0.54);

}

/* ////////////////////////////////////////////////////// Main Game Board //////////////////////////////////////////////////////////// */

.gameBoard {
    font-size: 0;
    border-radius: 5%;
    position: relative;
    display: inline-block;
    background-color: rgba(147, 112, 219, 0.54);
    border: .25px black solid;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);

}



.square {
    position: relative;
    display: inline-block;
    height: 12%;
    width: 12%;
    top: 2%;
    left: 2%;
    border: .25px black solid;
}

.empty {
    border: none;
}

.white {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: white;
    background-image: url("images/player-1.png");
    background-size: cover;

}

.black {
    position: relative;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    background-color: black;
    background-image: url("images/player-2.png");
    background-size: cover;

}

/* ////////////////////////////////////////////////////// Instruction and Win Modal //////////////////////////////////////////////////////////// */

.instructionModal {
    border-radius: 10%;
    position: absolute;
    display: inline-block;
    text-align: center;
    background-color: #2e6da4;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);
    background-color: rgba(147, 112, 219, 0.98);
    padding: 0.5%;
}

.instrucPara1 {
    font-size: 2rem;
    display: inherit;
    border-bottom: 2mm dotted slateblue;
}

.instrucPara2, .instrucPara3, .instrucPara4, .instrucPara5, .instrucPara6 {
    font-size: 1rem;
    display: inherit;
}

.winModal {
    position: absolute;
    display: inline-block;
    text-align: center;
    height: 95vh;
    width: 25vw;
    background-color: rgba(147, 112, 219, 0.75);
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);
    left: 38%;
    border-radius: 5%;
}

.winPara1, .winPara2 {
    display: inherit;
    font-size: 2rem;
    position: relative;
    top: 10%;
}

.winReset {
    position: relative;
    display: inherit;
    top: 22vh;
    font-size: 2rem;
    border-radius: 8%;
    left: 10%;
    width: 80%;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);
    background-color: aquamarine;
}


.hideModals {
    display: none;
}

.winImage {
    position: relative;
    height: 30%;
    width: 80%;
    top: 10%;
    left: 10%;
    border-radius: 50%;
}

.legalMove {
    background-color: purple;
}

.animate{
    animation-name: magic;
    background-image: none;
    animation-duration: 0.75s;
}

.animate2{
    background-image: none;
    animation: magic2 750ms infinite linear;
}

@keyframes magic{
    0% {background-color: mediumpurple}
    33% {background-color: hotpink}
    66% {background-color: deepskyblue}
    100% {background-color: mediumpurple}
}

@keyframes magic2{
    0% {background-color: mediumpurple}
    33% {background-color: hotpink}
    66% {background-color: deepskyblue}
    100% {background-color: mediumpurple}
}


/* ////////////////////////////////////////////////////// Audio and Timer //////////////////////////////////////////////////////////// */


.audioControls {
    border-radius: 33%;
    position: absolute;
    display: inline-block;
    top: 3%;
    left: 8%;
    width: 14%;
    overflow: hidden;
    box-shadow: 4px 2px rgba(0, 0, 0, 0.71);

}

.audio {
    display: inherit;
    width: 115%;
}

.timer {
    display: inline-block;
    font-size: 1rem;
    position: relative;
    text-align: center;
    color:hotpink;
}

.audioMute {
    position: absolute;
    display: flex;
    width: 70%;
}

.audioIcon {
    width: 6%;
    position: absolute;
    border-radius: 100%;
    box-shadow: 3px 3px 10px 3px hotpink;
}

.legalMove:hover{
    background-color: rgba(255, 111, 219, 0.73);
}

.highlightPlayerTurn{
    box-shadow:0px 0px 15px 10px hotpink;

}